* {
    border: 2px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contain {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.pixel {
    aspect-ratio: 1;
    width: 145px;
}

.pixel:hover {
    background-color: black;
}